<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>

</head>

<body>
    <h1>Item Details</h1>


    <div>
        <h2>
            <%= item.name %>
        </h2>
        <p>Description:
            <%= item.description %>
        </p>

    </div>

    <a href="/">Back to List</a>


</body>

</html>