<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
</head>

<body>
    <h1>Item List</h1>
    <ul>
        <% items.forEach(item => { %>
            <li>
                <%= item.name %> -
                    <%= item.description %> <a href="/items/<%= item.id %>">View Details</a>
            </li>
            <% }); %>
    </ul>

    <a href="/items/new">Add New Item</a>
</body>

</html>