<!-- items.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>

</head>

<body>

    <h1>List of Items</h1>

    <% if (items && items.length > 0) { %>
        <ul>
            <% items.forEach(item => { %>
                <li>
                    <strong>Name:</strong>
                    <%= item.name %><br>
                        <strong>Description:</strong>
                        <%= item.description %>

                            <% }); %>
        </ul>
        <% } else { %>
            <p>No items available.</p>
            <% } %>



</body>

</html>